.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #333;
  text-align: center;
  z-index: 1000;
}

.footer .copy {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}
